@model PS01.Models.Evento

@{
    ViewBag.Title = "Details";
}
<div class="masthead space">
    <div class="masthead-content">
        <div class="container display2 space">
            <h2>Detalles</h2>

            <div>
                <hr />
                <dl class="dl-horizontal">
                    

                    <dt>
                        Titulo del evento
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        Fehca
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>

                    <dt>
                        Lugar
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Place)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-default btn-info" }) |
                @Html.ActionLink("Regresar", "Index", new { area = "" }, new { @class = "btn btn-default btn-info" })
            </p>
        </div>
    </div>
</div>